<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="//www.greathiit.com/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/config/mdui/css/mdui.min.css}">
    <title>哈信息教材采购管理系统</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
<header th:replace="common :: header"></header>
<nav th:replace="common :: nav"></nav>
<section class="mdui-container">
    <form th:action="@{/addResource}" method="post">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">URL</label>
            <input name="url" class="mdui-textfield-input" type="text" value="/"/>
        </div>
        <div style="margin: 12px 0">
            请求方法：
            <label class="mdui-radio" style="margin-right: 12px">
                <input type="radio" name="method" value="get" checked/>
                <i class="mdui-radio-icon"></i>
                GET
            </label>
            <label class="mdui-radio" style="margin-right: 12px">
                <input type="radio" name="method" value="post"/>
                <i class="mdui-radio-icon"></i>
                POST
            </label>
            <label class="mdui-radio" style="margin-right: 12px">
                <input type="radio" name="method" value="patch"/>
                <i class="mdui-radio-icon"></i>
                PATCH
            </label>
            <label class="mdui-radio" style="margin-right: 12px">
                <input type="radio" name="method" value="delete"/>
                <i class="mdui-radio-icon"></i>
                DELETE
            </label>
        </div>
        <label th:each="adminUserRole : ${allAdminUserRoleList}" class="mdui-checkbox" style="margin:0 12px 12px 0">
            <input name="roles" type="checkbox" th:value="${adminUserRole.id}"/>
            <i class="mdui-checkbox-icon"></i>
            <span th:text="${adminUserRole.name}"></span>
        </label>
        <br>
        <button type="submit" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">提交</button>
    </form>
</section>
<script th:src="@{/config/mdui/js/mdui.min.js}"></script>
</body>
</html>
