<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="//www.greathiit.com/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/config/mdui/css/mdui.min.css}">
    <title>哈信息教材采购管理系统</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .mdui-card {
            margin-bottom: 8px;
        }
    </style>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
<header th:replace="common :: header"></header>
<nav th:replace="common :: nav"></nav>
<section class="mdui-container">
    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>#</th>
                <th>授课部门</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department,departmentStat : ${departments}">
                <td th:text="${departmentStat.count}">1</td>
                <td th:text="${department.name}">Mark</td>
                <td th:text="${#dates.format(department.gmtModified, 'yyyy-MM-dd HH:mm:ss')}">Mark</td>
                <td><a th:href="${'/upDepartment?id='+department.id}">修改</a> <a
                        th:href="${'javascript:delDepartment(&quot;'+department.id+'&quot;);'}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button style="margin-top: 12px" onclick="addDepartment()"
            class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">添加
    </button>
</section>
<script th:src="@{/config/mdui/js/mdui.min.js}"></script>
<script th:inline="javascript">
    'use strict';

    function addDepartment() {
        window.open("/addDepartment")
    }

    function delDepartment(id) {
        let r = confirm("确定删除吗？");
        if (r === true) {
            window.location.href = "/delDepartment?id=" + id;
        } else {
            alert("取消删除")
        }
    }
</script>
</body>
</html>
